.container{
    margin-top: 80px;
    background-color: black;
}
.now-trending{
    font-size: x-large;
    padding: 10px;
    font-weight: bolder;
    background-color: black;
    color: #63aa00;
}
.collections{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 45px;
    flex-wrap: wrap;
}

