.container{
    background-color: black;
    height: 280px;
    color: white;
    padding-top: 20px;
}
.sub-container{
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 20px;

}
.title{
    color: #63aa00;

}
.images{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
}
.image{
    width: 40px;
}
.copyright{
    padding-top: 20px;
    text-align: center;
}